# Introdutórios

### 1. Faça um algoritmo que solicite o nome do usuário e depois escreva o nome da pessoa que foi digitado no console.

In [ ]:
nome = input("Digite seu nome: ")
print("Bem vinda,", nome)

Digite seu nome: malu
Bem vinda, malu

### 2. Faça um algoritmo que pergunte ao usuário quantos anos ele tem, depois disso, escreva True no console, caso ele já tenha alcançado a maioridade (18 anos), caso contrário escreva False.

In [ ]:
idade = int(input("Quantos anos você tem? "))

if idade >= 18:
    print("Maior de idade!")
else:
    print("Menor de idade!")

Quantos anos você tem? 18
Maior de idade!

### 3. Faça um algoritmo que solicite um número ao usuário, depois disso, escreva True no console, caso o número tenha dois dígitos (Esteja entre 10 e 99), caso contrário escreva

In [ ]:
numero = int(input("Digite um número: "))
if numero >= 10 and numero <= 99:
    print("2 números")
elif numero >=100 and numero <=999:
    print("3 números")
else:
    print("1 ou mais número(s)")

Digite um número: 1000
1 ou mais número(s)

# Capítulo 3 - Desvios condicionais, fazendo seu programa tomar decisões!

### 1. Faça um algoritmo que solicite 3 notas para o usuário, calcule a média e indique se o aluno foi aprovado ou reprovado (nota precisar ser maior ou igual à sete para o aluno ser aprovado).

In [ ]:
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))
nota3 = float(input("Digite a terceira nota: "))

media = (nota1 + nota2 + nota3) / 3

if media >= 7:
    resultado = "Aprovado"
else:
    resultado = "Reprovado"

print("Média:", media)
print("Resultado:", resultado)

Digite a primeira nota: 10
Digite a segunda nota: 8
Digite a terceira nota: 6
Média: 8.0
Resultado: Aprovado

### 2. Faça um algoritmo que solicite o ano que o usuário nasceu, depois disso, faça o programa descrever se o usuário fará ou já fez 18 anos neste ano.

In [ ]:
from datetime import datetime

ano_nascimento = int(input("Digite o ano que você nasceu: "))
mes_nascimento = int(input("Digite o mês que você nasceu (1-12): "))

data_atual = datetime.now()
ano_atual = data_atual.year
mes_atual = data_atual.month

idade = ano_atual - ano_nascimento

if idade > 18 or (idade == 18 and mes_atual >= mes_nascimento):
    resultado = "Você já fez 18 anos."
elif idade == 17 or (idade == 18 and mes_atual < mes_nascimento):
    resultado = "Você fará 18 anos este ano."
else:
    resultado = "Você não fará 18 anos este ano."

print(resultado)

Digite o ano que você nasceu: 2006
Digite o mês que você nasceu (1-12): 11
Você fará 18 anos este ano.

Uso do ```from datetime import datetime```

---
**Módulo datetime**  
O módulo datetime fornece classes para manipulação de datas e horas. Ele é uma parte da biblioteca padrão do Python e é amplamente utilizado para trabalhar com informações relacionadas a tempo.    

**Classe datetime**  
A classe datetime dentro do módulo datetime é uma das mais utilizadas. Ela combina tanto a data (ano, mês, dia) quanto a hora (hora, minuto, segundo, microsegundo) em um único objeto. Isso a torna muito útil para realizar operações que envolvem tanto datas quanto horários.

**Uso da Importação**  
from datetime import datetime: Com esta instrução, você está importando apenas a classe datetime do módulo datetime, permitindo que você a utilize diretamente no seu código sem precisar escrever datetime.datetime toda vez.


---

```
# Obtém a data e a hora atual
data_atual = datetime.now()

# Exibe a data e a hora atual
print("Data e Hora Atual:", data_atual)
```

### 3. Faça um programa que solicite ao usuário sua idade, depois disso, exiba a classificação etária de acordo com as faixas de valores:

· Criança para 0 até 11 anos;

· Adolescente para 12 até 18 anos;

· Jovem para 19 até 24 anos;

· Adulto para 25 até 40 anos;

· Meia Idade para 41 até 60 anos;

· Idoso acima de 60 anos.

In [ ]:
idade = int(input("Digite sua idade: "))

if 0 <= idade <= 11:
    classificacao = "Criança"
elif 12 <= idade <= 18:
    classificacao = "Adolescente"
elif 19 <= idade <= 24:
    classificacao = "Jovem"
elif 25 <= idade <= 40:
    classificacao = "Adulto"
elif 41 <= idade <= 60:
    classificacao = "Meia Idade"
elif idade > 60:
    classificacao = "Idoso"
else:
    classificacao = "Idade inválida"

print("Faixa Etária:", classificacao)

Digite sua idade: 28
Faixa Etária: Adulto

### 4. Faça um programa que solicite ao usuário 2 valores, utilize uma condição ternária para escrever qual o maior valor: o primeiro ou o segundo (caso os valores sejam iguais, considere o segundo).

In [ ]:
valor1 = float(input("Digite o primeiro valor: "))
valor2 = float(input("Digite o segundo valor: "))

maior_valor = valor2 if valor1 <= valor2 else valor1

print("O maior valor é:", maior_valor)

Digite o primeiro valor: 20
Digite o segundo valor: 15
O maior valor é: 20.0

Condição ternária ou expressão condicional.

Sintaxe: ```variável = valor_se_verdadeiro if condição else valor_se_falso```


A condição ternária é uma forma compacta de escrever uma estrutura condicional (if-else) em uma única linha. Ela permite que você atribua valores a uma variável com base em uma condição de forma mais concisa do que usar a estrutura tradicional if-else.

---  

**Exemplo**
```
a = 10
b = 20

maior = a if a > b else b
print(maior)  # Saída: 20

```

# Capítulo 4 - Valores None, Strings e Introdução à Listas

### 1. Faça um programa que solicite o nome do usuário e depois disso faça uma saudação no formato: "Olá {nome digitado pelo usuário}".

In [ ]:
nome = input("Digite seu nome: ")
print(f"Olá {nome}!")

Digite seu nome: Matheus
Olá Matheus!

### 2. Faça um programa que solicite uma mensagem qualquer para o usuário e exiba esta mensagem com todas as letras em maiúsculo.

In [ ]:
mensagem = input("Digite uma mensagem: ")
print(mensagem.upper())

Digite uma mensagem: palmeiras
PALMEIRAS

### 3. Faça um programa que solicite a idade do usuário, verifique se o texto informado só contém números. Caso contenha somente números exiba a mensagem: "Você tem {idade digitada} anos.", caso contrário exiba a mensagem: "Você digitou uma idade inválida".

In [ ]:
idade = input("Digite sua idade: ")

if idade.isdigit():
    print(f"Você tem {idade} anos.")
else:
    print("Você digitou uma idade inválida.")

Digite sua idade: maria
Você digitou uma idade inválida.

```isdigit()```  
O método isdigit() em Python é uma função de string que verifica se todos os caracteres em uma string são dígitos (números). Ele retorna True se a string contiver apenas caracteres que são números e False caso contrário.

Uso do isdigit():

1. **Verificação de Números:** O método é útil para determinar se uma string representa um número inteiro positivo.

2. **Retorno:** Retorna True se todos os caracteres da string forem dígitos (0-9).
Retorna False se a string estiver vazia ou contiver qualquer caractere que não seja um dígito.

Exemplos:
```
# Exemplo 1: String que contém apenas dígitos
idade = "25"
print(idade.isdigit())  # Saída: True

# Exemplo 2: String que contém caracteres não numéricos
idade_invalida = "25 anos"
print(idade_invalida.isdigit())  # Saída: False

# Exemplo 3: String vazia
string_vazia = ""
print(string_vazia.isdigit())  # Saída: False

# Exemplo 4: String com dígitos e caracteres especiais
string_com_caracteres = "1234!"
print(string_com_caracteres.isdigit())  # Saída: False

```

### 4. Faça um programa que solicite o nome completo do usuário e exiba somente o seu segundo nome/primeiro sobrenome.

In [ ]:
nome_completo = input("Digite seu nome completo: ")

nomes = nome_completo.split()

if len(nomes) >= 2:
    segundo_nome = nomes[1]
    print("Seu segundo nome ou primeiro sobrenome é:", segundo_nome)
else:
    print("Nome completo inválido. Certifique-se de incluir pelo menos um sobrenome.")

Digite seu nome completo: Maria Luiza
Seu segundo nome/primeiro sobrenome é: Luiza

```.split()```

O método .split() em Python é usado para dividir uma string em uma lista de substrings, utilizando um delimitador especificado. Por padrão, o delimitador é um espaço em branco, mas você pode especificar outro caractere ou string como delimitador.

Sintaxe: ```string.split(sep=None, maxsplit=-1)```

1. sep: O delimitador a ser usado para dividir a string. Se não for especificado, a string será dividida em espaços em branco (incluindo espaços, tabulações e quebras de linha).
2. maxsplit: O número máximo de divisões a serem feitas. O padrão é -1, o que significa que não há limite de divisões.

Exemplos:

```
nome = "Maria Luiza Fernandes"
palavras = nome.split()
print(palavras)  # Saída: ['Maria,', 'Luiza', 'Fernandes']

data = "2023-10-25"
partes = data.split("-")
print(partes)  # Saída: ['2023', '10', '25']

```

# Capítulo 5 - Operações com Listas

## Listas em python

Resumo sobre Listas em Python  
Definição:
* Uma lista é uma coleção ordenada de elementos que pode conter itens de diferentes tipos (números, strings, objetos, etc.).  

Características:
* Mutáveis: Você pode modificar a lista após sua criação (adicionar, remover ou alterar elementos).
* Ordenadas: Os elementos mantêm a ordem em que foram adicionados.
* Indexadas: Os elementos podem ser acessados usando índices, começando do zero.

Sintaxe: ```lista = [1, 2, 3, "quatro", 5.0]```


Principais Métodos:

1. .append(item): Adiciona um item ao final da lista.
2. .insert(index, item): Insere um item em uma posição específica.
3. .remove(item): Remove o primeiro item correspondente ao valor especificado.
4. .pop(index): Remove e retorna o item na posição especificada (ou o último item se o índice não for fornecido).
5. .sort(): Ordena os elementos da lista.
6. .reverse(): Inverte a ordem dos elementos.
7. .clear(): Remove todos os elementos da lista.
8. .extend(iterable): Adiciona elementos de um iterável (como outra lista) à lista existente.

## Listas são objetos?
Tudo em Python é considerado um objeto, incluindo tipos de dados básicos como inteiros, floats, strings e, claro, listas.

Características das Listas como Objetos:  
1. Tipo de Objeto: Quando você cria uma lista, está criando uma instância da classe list, que é uma das classes embutidas no Python.
2. Métodos: Como objetos, listas possuem métodos que podem ser utilizados para manipulação.

Exemplo de lista como objeto
```
# Criando uma lista
frutas = ["maçã", "banana", "laranja"]

# Verificando o tipo da lista
print(type(frutas))  # Saída: <class 'list'>

# Usando métodos de lista
frutas.append("uva")
print(frutas)  # Saída: ['maçã', 'banana', 'laranja', 'uva']

frutas.remove("banana")
print(frutas)  # Saída: ['maçã', 'laranja', 'uva']

```

### 1. Faça um programa que inicialize uma lista com o nome das pessoas da sua família.

In [ ]:
familia = ["Luiz Henrique", "Maria Cleide", "Maria Luiza"]
print("Nomes da família:", familia)

Nomes da família: ['Luiz Henrique', 'Maria Cleide', 'Maria Luiza']

### 2. Faça um programa que inicialize uma lista vazia e solicite ao usuário 3 nomes de cidades, um por vez, cada vez que o usuário digitar um nome, o programa deve incluir este nome na lista de cidades.

In [ ]:
cidades = []

for i in range(3):
    cidade = input(f"Digite o nome da cidade {i + 1}: ")
    cidades.append(cidade)

print("Cidades:", cidades)

Digite o nome da cidade 1: São Paulo
Digite o nome da cidade 2: Santos
Digite o nome da cidade 3: São Luis
Cidades: ['São Paulo', 'Santos', 'São Luis']

### 3. Faça um programa que inicialize uma lista com vários números diferentes, depois disso, solicite ao usuário um número, verifique se o número está ou não na lista e exiba uma mensagem notificando o usuário do resultado.

In [ ]:
numeros = [1, 3, 5, 7, 9, 11, 13]
numero = int(input("Digite um número: "))

if numero in numeros:
    print(f"O número {numero} está na lista.")
else:
    print(f"O número {numero} não está na lista.")

Digite um número: 230
O número 230 não está na lista.

### 4. Faça um programa que inicialize uma lista vazia e a preencha com 5 nomes diferentes digitados pelo usuário, depois disso solicite um número de 0 até 4 e remova o elemento desta posição.

In [ ]:
nomes = []

for i in range(5):
    nome = input(f"Digite o nome {i + 1}: ")
    nomes.append(nome)

indice = int(input("\nDigite um número de 0 a 4 para remover o nome dessa posição: "))

if 0 <= indice < len(nomes):
    removed_nome = nomes.pop(indice)
    print(f"O nome '{removed_nome}' foi removido.")
else:
    print("Índice inválido.")

print("\nNomes restantes:", nomes)

Digite o nome 1: maria
Digite o nome 2: luiza
Digite o nome 3: fernandes
Digite o nome 4: de
Digite o nome 5: queiroz

Digite um número de 0 a 4 para remover o nome dessa posição: 3
O nome 'de' foi removido.

Nomes restantes: ['maria', 'luiza', 'fernandes', 'queiroz']

```for()```  
O for é uma estrutura de repetição que permite iterar sobre elementos de uma sequência (como listas, tuplas, strings) ou sobre um intervalo de números.

Exemplo:
```
# Iterando sobre uma lista
frutas = ["maçã", "banana", "laranja"]
for fruta in frutas:
    print(fruta)
```



---
```range()```  
A função range() gera uma sequência de números, que pode ser usada para controlar o número de iterações em um loop for. Ela pode receber até três argumentos: ***start, stop e step***.

* start: O valor inicial da sequência (inclusivo, padrão é 0).  
* stop: O valor final da sequência (exclusivo).  
* step: O incremento entre os números na sequência (padrão é 1).

Exemplos:
```
# Usando range() para imprimir números de 0 a 4
for i in range(5):
    print(i)  # Saída: 0, 1, 2, 3, 4

```
```
# Usando range() com start e step
for i in range(1, 10, 2):
    print(i)  # Saída: 1, 3, 5, 7, 9

```

---

```len()```  
A função len() retorna o número de itens em um objeto. É comumente usada para determinar o tamanho de listas, strings, tuplas e outros contêineres.

Exemplos:
```
# Usando len() para contar o número de elementos em uma lista
nomes = ["Victória", "Melanie", "Jackie"]
print(len(nomes))  # Saída: 3

# Usando len() em uma string
texto = "Olá, mundo!"
print(len(texto))  # Saída: 12

```

```
# Inicializa uma lista
refrigerantes = ["coca-cola", "fanta", "dolly"]

# Usa for e range para iterar sobre os índices da lista
for i in range(len(refrigerantes)):
    print(f"Refrigerantes {i + 1}: {refrigerantes[i]}")

```

# Capítulo 6 - Laços de Repetição - Parte 1

### 1. Faça um programa que inicialize uma lista de compras com 5 itens diferentes e exiba todos utilizando um laço de repetição.

In [ ]:
lista_de_compras = ["arroz", "detergente", "pão", "ovos", "candida"]

print("Lista de Compras:")
for item in lista_de_compras:
    print(item)

Lista de Compras:
arroz
detergente
pão
ovos
candida

### 2. Faça um programa que inicialize que crie uma lista com os valores de 1 até 10 e depois exiba apenas os números pares.

In [ ]:
numeros = list(range(1, 11))

print("Números pares de 1 a 10:")
for numero in numeros:
    if numero % 2 == 0:
        print(numero)

Números pares de 1 a 10:
2
4
6
8
10

### 3. Faça um programa que exiba todos os valores ímpares entre 50 e 100 utilizando o range.

In [ ]:
print("Números ímpares entre 50 e 100:")
for i in range(51, 101, 2):  # Começa em 51 e vai até 100, pulando de 2 em 2
    print(i)

Números ímpares entre 50 e 100:
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### 4. Faça um programa que inicialize uma lista vazia, solicite ao usuário 10 números diferentes, um por vez. Caso o número digitado seja par, acrescente um ao seu valor. Depois disso, exiba os 10 números digitados.

In [ ]:
numeros_digitados = []

for _ in range(10):
    numero = int(input("Digite um número: "))

    if numero % 2 == 0:
        numero += 1
    numeros_digitados.append(numero)

print("Números digitados:")
for num in numeros_digitados:
    print(num)

Digite um número: 2
Digite um número: 4
Digite um número: 6
Digite um número: 8
Digite um número: 10
Digite um número: 12
Digite um número: 14
Digite um número: 16
Digite um número: 23
Digite um número: 25
Números digitados:
3
5
7
9
11
13
15
17
23
25

### 5. Faça um programa que exiba as tabuadas de 1 até 10 no formato: "2 x 3 = 6", (utilize dois comandos for)

In [ ]:
print("Tabuadas de 1 a 10:")
for i in range(1, 11):
    for mult in range(1, 11):
        resultado = i * mult
        print(f"{i} x {mult} = {resultado}")
    print('--------------------------------')

Tabuadas de 1 a 10:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
--------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
--------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
--------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
--------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
--------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
--------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
--------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
--------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
--------------------------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
--------------------------------

# Capítulo 7 - Laços de Repetição - Parte 2

### 1. Faça um programa que inicialize uma lista de compras com 5 itens diferentes e exiba todos utilizando um laço de repetição while.

In [ ]:
lista_de_compras = ["maçã", "bucha para louça", "pão", "ovos", "detergente"]

indice = 0
print("Lista de Compras:")
while indice < len(lista_de_compras):
    print(lista_de_compras[indice])
    indice += 1

Lista de Compras:
maçã
bucha para louça
pão
ovos
detergente

### 2. Faça um programa que inicialize uma lista com os valores de 1 até 10 e depois exiba apenas os números pares utilizando while.

In [ ]:
numeros = list(range(1, 11))

indice = 0
print("Números pares de 1 a 10:")
while indice < len(numeros):
    if numeros[indice] % 2 == 0:
        print(numeros[indice])
    indice += 1

Números pares de 1 a 10:
2
4
6
8
10

### 3. Faça um programa que inicialize uma lista vazia, solicite ao usuário 10 números ímpares diferentes, um por vez. Caso o número digitado seja par, solicite novamente um número, até que o valor seja um número ímpar. Depois disso, exiba os 10 números digitados.

In [ ]:
numeros_digitados = []
quantidade = 10

while len(numeros_digitados) < quantidade:
    numero = int(input("Digite um número ímpar: "))
    if numero % 2 != 0 and numero not in numeros_digitados:
        numeros_digitados.append(numero)
    else:
        print("Número inválido. Certifique-se de que é ímpar e diferente dos já digitados.")

print("\nNúmeros ímpares digitados:")
for num in numeros_digitados:
    print(num)

Digite um número ímpar: 5
Digite um número ímpar: 5
Número inválido. Certifique-se de que é ímpar e diferente dos já digitados.
Digite um número ímpar: 3
Digite um número ímpar: 1
Digite um número ímpar: 89
Digite um número ímpar: 9
Digite um número ímpar: 7
Digite um número ímpar: 77
Digite um número ímpar: 75
Digite um número ímpar: 73
Digite um número ímpar: 71
Números ímpares digitados:
5
3
1
89
9
7
77
75
73
71

In [ ]:
def exibir_menu():
    print("Selecione uma das opções:")
    print("1 - Olá mundo")
    print("2 - Eu programo em Python")
    print("3 - Laços de repetição")

while True:
    exibir_menu()
    escolha = input("Digite sua escolha (1, 2 ou 3) ou 's' para sair: ")

    if escolha == '1':
        print("Olá mundo")
    elif escolha == '2':
        print("Eu programo em Python")
    elif escolha == '3':
        print("Laços de repetição")
    elif escolha.lower() == 's':
        print("Saindo do programa...")
        break
    else:
        print("Escolha inválida. Tente novamente.")

Selecione uma das opções:
1 - Olá mundo
2 - Eu programo em Python
3 - Laços de repetição
Digite sua escolha (1, 2 ou 3) ou 's' para sair: 1
Olá mundo
Selecione uma das opções:
1 - Olá mundo
2 - Eu programo em Python
3 - Laços de repetição
Digite sua escolha (1, 2 ou 3) ou 's' para sair: 2
Eu programo em Python
Selecione uma das opções:
1 - Olá mundo
2 - Eu programo em Python
3 - Laços de repetição
Digite sua escolha (1, 2 ou 3) ou 's' para sair: 3
Laços de repetição
Selecione uma das opções:
1 - Olá mundo
2 - Eu programo em Python
3 - Laços de repetição
Digite sua escolha (1, 2 ou 3) ou 's' para sair: s
Saindo do programa...

### 5. Remove a instrução break e a instrução continue do laço de repetição abaixo:

```
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
posicao = 0
while posicao < len(numeros):
  posicao += 1
  if posicao == 3:
    continue

  elif posicao == 6:
    break
  print(numeros[posicao-1])
  numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  posicao = 0

while posicao < 5:
  if posicao != 2:
    print(numeros[posicao])
  posicao += 1
```

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

posicao = 0

while posicao < len(numeros):
    posicao += 1
    if posicao != 3:
        print(numeros[posicao - 1])
posicao = 0

while posicao < 5:
    if posicao != 2:
        print(numeros[posicao])
    posicao += 1

1
2
4
5
6
7
8
9
10
1
2
4
5

### Funções no python

Uma função é um bloco de código reutilizável que realiza uma tarefa específica. As funções ajudam a organizar o código, tornando-o mais legível e modular.

Vantagens de Usar Funções:

1. Reutilização: Funções podem ser chamadas várias vezes, evitando a duplicação de código.
2. Organização: Facilita a estruturação do código em partes lógicas.
3. Manutenção: Modificações podem ser feitas em um único lugar, impactando todas as chamadas da função.
4. Abstração: Permite que o usuário use uma funcionalidade sem entender sua implementação interna.  

Definindo uma Função: Para definir uma função em Python, usa-se a palavra-chave ```def()```, seguida do nome da função e parênteses.

Sintaxe:
```
def nome_da_funcao(parametros):
    # corpo da função
    return resultado  # opcional
```

Exemplo:
```
def soma(a, b):
    return a + b

resultado = soma(5, 3)
print(resultado)  # Saída: 8

```

Parâmetros e Argumentos:

* Parâmetros: Variáveis listadas entre parênteses na definição da função.
* Argumentos: Valores passados para a função quando ela é chamada.

Tipos de parâmetros:
1. Parâmetros Padrão: Permitem definir um valor padrão se nenhum argumento for fornecido.
```
def saudacao(nome="Visitante"):
    print(f"Olá, {nome}!")
```

2. Parâmetros Opcionais: Permitem que o usuário passe quantos argumentos quiser usando *args*.
3. Parâmetros Nomeados: Permitem passar argumentos por nome, facilitando a leitura.

Retornando Valores: Uma função pode retornar um valor usando a palavra-chave *return*. Se não houver um return, a função retorna *None*.

Exemplo de Função com Vários Parâmetros:
```
def multiplicar(a, b=2):
    return a * b

print(multiplicar(5))  # Saída: 10
print(multiplicar(5, 3))  # Saída: 15
```

Funções Anônimas (Lambda): As funções lambda são funções pequenas e rápidas, definidas com a palavra-chave *lambda*. Elas são frequentemente usadas quando você precisa de uma função para uma única operação.

```
soma = lambda x, y: x + y
print(soma(5, 3))  # Saída: 8
```

# Capítulo 8 - Use Dicionários!

### 1. Faça um programa que crie um dicionário para definir um produto, contendo sua descrição e seu preço.

In [ ]:
produto = {
  "descrição": "Água",
  "preço": 2.00
}

print(produto)

{'descrição': 'Água', 'preço': 2.0}

2. Faça um programa que inicialize uma lista de compras com 5 itens diferentes, onde cada item é um dicionário contendo a descrição e preço do produto. Depois disso, percorra a lista e exiba as informações de cada item.

In [ ]:
lista_compras = [
    {"descrição": "Água", "preço": 2.00},
    {"descrição": "Leite", "preço": 3.00},
    {"descrição": "Carne", "preço": 18.00},
    {"descrição": "Pizza", "preço": 9.00},
    {"descrição": "Chocolate", "preço": 6.50}
]

for item_compra in lista_compras:
    print("Produto:", item_compra["descrição"], "por", str(item_compra["preço"]), "reais.")

Produto: Água por 2.0 reais.
Produto: Leite por 3.0 reais.
Produto: Carne por 18.0 reais.
Produto: Pizza por 9.0 reais.
Produto: Chocolate por 6.5 reais.

### 3. Utilize a lista de compras do programa anterior para identificar qual o produto mais barato e qual o produto mais caro da lista de compras.

In [ ]:
# Lista de compras já carregada na célula de código anterior
mais_barato = None
mais_caro = None
indice = 0

while indice < len(lista_compras):
    item_compra = lista_compras[indice]

    if indice == 0:
        mais_caro = item_compra
        mais_barato = item_compra
    else:
        if item_compra["preço"] > mais_caro["preço"]:
            mais_caro = item_compra
        if item_compra["preço"] < mais_barato["preço"]:
            mais_barato = item_compra

    indice += 1

print("Produto mais caro:", mais_caro["descrição"], "por", mais_caro["preço"], "reais")
print("Produto mais barato:", mais_barato["descrição"], "por", mais_barato["preço"], "reais")

Produto mais caro: Carne por 18.0 reais
Produto mais barato: Água por 2.0 reais

### 4. Faça um programa que tenha uma lista com 5 de pessoas, onde cada pessoa tem seu nome e sobrenome armazenado em um dicionário, depois disso, exiba todos os nomes e sobrenomes. Para complicar um pouco as coisas, vamos simular que estes dados foram obtidos da web e com isso recebemos algumas inconsistências. Duas das cinco pessoas possuem o dicionário onde as chaves estão em maiúsculo e os outros três em minúsculo.

In [ ]:
pessoas = [
    {"nome": "Joãozinho", "sobrenome": "da Silva"},
    {"nome": "Mariazinha", "SOBRENOME": "de Souza"},
    {"nome": "Gabriel", "sobrenome": "Schade"},
    {"nome": "Joana", "SOBRENOME": "da Silva"},
    {"nome": "Everton", "sobrenome": "Schmit"},
]


for pessoa in pessoas:
    nome = pessoa.get("nome") or pessoa.get("NOME")
    sobrenome = pessoa.get("sobrenome") or pessoa.get("SOBRENOME")

    print(nome, sobrenome)

Joãozinho da Silva
Mariazinha de Souza
Gabriel Schade
Joana da Silva
Everton Schmit

# Capítulo 9 - Modularização de código com Funções!

### 1. Faça um programa que escreva "Minha primeira função", esta escrita deve ser realizada a partir da chamada de uma função.

In [ ]:
def minha_primeira_função():
    print("Minha primeira função - por Maria Luiza")

minha_primeira_função()

Minha primeira função - por Maria Luiza

### 2. Faça um programa que solicite o nome do usuário e a idade do usuário, depois disso exiba a mensagem: "{nome} possui {idade} anos.". Esta mensagem deve ser escrita em uma função.

In [ ]:
def escrever_nome_idade(nome, idade):
  print(nome, "possui", idade, "anos.")

nome_digitado = str(input("Digite seu nome: "))
idade_digitada = int(input("Digite sua idade: "))

escrever_nome_idade(nome_digitado, idade_digitada)

Digite seu nome: malu
Digite sua idade: 18
malu possui 18 anos.

### 3. Faça um programa que solicite dois números ao usuário e exiba a multiplicação deles. A multiplicação deve ser calculada em uma função

In [ ]:
def multiplicar(numero1, numero2):
  return numero1 * numero2

numero = int(input("Digite o primeiro número: "))
numero2 = int(input("Digite o segundo número: "))
resultado = multiplicar(numero, numero2)

print(resultado)

Digite o primeiro número: 10
Digite o segundo número: 5
50

### 4. Faça um programa que solicite ao usuário três números diferentes e exiba o dobro do maior número. Para fazer isso separe seu código em duas funções diferentes: Uma função para retornar o maior dos três números e outra função para dobrar o número.

In [ ]:
def obter_maior(numero, numero2, numero3):
  maior = None
  if numero > numero2 and numero > numero3:
    maior = numero
  elif numero2 > numero and numero2 > numero3:
    maior = numero2
  else:
    maior = numero3
  return maior

def dobrar(numero):
  return numero * 2

numero = int(input("Digite o primeiro número: "))
numero2 = int(input("Digite o segundo número: "))
numero3 = int(input("Digite o terceiro número: "))

maior = obter_maior(numero, numero2, numero3)

print(dobrar(maior))

Digite o primeiro número: 5
Digite o segundo número: 6
Digite o terceiro número: 7
14

### 5. Faça um programa que inicialize uma lista vazia, depois disso solicite 5 nomes diferentes ao usuário (utilize laço de repetição). Cada nome digitado deve ser adicionado à lista e por fim, todos os nomes devem ser escritos no console. Utilize uma função para solicitar e retornar o nome digitado, uma função para adicionar o nome à lista (passando o nome e a lista por parâmetro) e outra função para escrever todos os nomes no console.

In [ ]:
def solicitar_nome():
  return str (input("Digite um nome: ") )

def adicionar_nome_na_lista(lista, nome):
  lista.append(nome)

def escrever_nomes(lista):
  for nome in lista:
    print(nome)

nomes = []

for contador in range(0,5):
  nome = solicitar_nome()
  adicionar_nome_na_lista(nomes, nome)

escrever_nomes(nomes)

Digite um nome: maria
Digite um nome: matheus
Digite um nome: murilo
Digite um nome: larissa
Digite um nome: giovanna
maria
matheus
murilo
larissa
giovanna

# Capítulo 10 - Funções Lambda

### 1. Faça um programa que escreva "Minha primeira função", esta escrita deve ser realizada a partir da chamada de uma função que foi declarada como uma expressão lambda.

In [ ]:
minha_funcao = lambda:print("Minha primeira função lambda - por Maria Luiza")
minha_funcao()

Minha primeira função lambda - por Maria Luiza

### 2. Faça um programa que solicite o nome do usuário e a idade do usuário, depois disso exiba a mensagem: "{nome} possui {idade} anos.". Esta mensagem deve ser escrita em uma função lambda.

In [ ]:
escrever_nome_idade = lambda nome, idade: print(nome, "possui", idade, "anos.")

nome_digitado = str(input("Digite seu nome: "))
idade_digitada = int(input("Digite sua idade: "))

escrever_nome_idade(nome_digitado, idade_digitada)

Digite seu nome: maria
Digite sua idade: 18
maria possui 18 anos.

### 3. Faça um programa que solicite dois números ao usuário e exiba a multiplicação deles. A multiplicação deve ser calculada em uma função lambda.

In [ ]:
multiplicar = lambda numero1, numero2: numero1 * numero2

numero = int(input("Digite o primeiro número: "))
numero2 = int(input("Digite o segundo número: "))
resultado = multiplicar(numero, numero2)

print(resultado)

Digite o primeiro número: 10
Digite o segundo número: 2
20

### 4. Faça um programa que solicite cinco números ao usuário, depois disso, exiba apenas os números maiores do que 10. Utilize a função filter para fazer isso.

In [ ]:
numeros = []

for indice in range(1,5):
  numero = int(input("Digite um número: "))
  numeros.append(numero)

maiores = filter(lambda numero: numero > 10, numeros)

for maior in maiores:
  print(maior)

Digite um número: 10
Digite um número: 2
Digite um número: 5
Digite um número: 99
99

### 5. Faça um programa que solicite dez números ao usuário, depois disso, exiba todos números pares e só então exiba todos os números ímpares. Utilize a função filter para fazer isso.

In [ ]:
def escrever_array(array):
  for valor in array:
    print(valor)

numeros = []

for indice in range(1,10):
  numero = int(input("Digite um número: "))
  numeros.append(numero)

pares = filter(lambda numero: numero % 2 == 0, numeros)
impares = filter(lambda numero: numero % 2 == 1, numeros)

escrever_array(pares)
escrever_array(impares)

Digite um número: 5
Digite um número: 3
Digite um número: 7
Digite um número: 8
Digite um número: 10
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 88
8
10
2
4
88
5
3
7
3

# Outros exercícios

14) Utilizando listas faça um programa que faça 5 perguntas para uma pessoa sobre um crime. As perguntas são:

a. "Telefonou para a vítima?"

b. "Esteve no local do crime?"

c. "Mora perto da vítima?"

d. "Devia para a vítima?"

e. "Já trabalhou com a vítima?"

O programa deve no final emitir uma classificação sobre a participação da pessoa no crime. Se a pessoa responder positivamente a 2 questões ela deve ser classificada como "Suspeita", entre 3 e 4 como "Cúmplice" e 5 como "Assassino". Caso contrário, ele será classificado como "Inocente".

In [ ]:
perguntas = [
    "Telefonou para a vítima? (s/n) ",
    "Esteve no local do crime? (s/n) ",
    "Mora perto da vítima? (s/n) ",
    "Devia para a vítima? (s/n) ",
    "Já trabalhou com a vítima? (s/n) "
]

respostas_positivas = 0

for pergunta in perguntas:
    resposta = input(pergunta).strip().lower()
    if resposta == 's':
        respostas_positivas += 1

if respostas_positivas == 0:
    classificacao = "Inocente"
elif respostas_positivas == 2:
    classificacao = "Suspeita"
elif 3 <= respostas_positivas <= 4:
    classificacao = "Cúmplice"
elif respostas_positivas == 5:
    classificacao = "Assassino"

print("Classificação:", classificacao)

Telefonou para a vítima? (s/n) n
Esteve no local do crime? (s/n) n
Mora perto da vítima? (s/n) s
Devia para a vítima? (s/n) n
Já trabalhou com a vítima? (s/n) s
Classificação: Suspeita

![image.png]()

In [ ]:
def calcular_salario(vendas):
    salario_fixo = 200
    comissao = 0.09
    salario_total = salario_fixo + vendas * comissao
    return salario_total

def classificar_vendedores(salarios):
    faixas_salariais = [0] * 10
    for salario in salarios:
        if salario < 200:
            continue
        elif salario < 1000:
            indice = int((salario - 200) // 100)
            faixas_salariais[indice] += 1
        else:
            faixas_salariais[9] += 1
    return faixas_salariais

vendas_semanais = [3000, 2500, 4200, 1800, 5500]
salarios = [calcular_salario(vendas) for vendas in vendas_semanais]
contagem_por_faixa = classificar_vendedores(salarios)

for i, contagem in enumerate(contagem_por_faixa):
    if i < 9:
        faixa = f"${200 + i*100}-${299 + i*100}"
    else:
        faixa = "$1000 em diante"
    print(f"Vendedores na faixa {faixa}: {contagem}")

Vendedores na faixa $200-$299: 0
Vendedores na faixa $300-$399: 1
Vendedores na faixa $400-$499: 2
Vendedores na faixa $500-$599: 1
Vendedores na faixa $600-$699: 1
Vendedores na faixa $700-$799: 0
Vendedores na faixa $800-$899: 0
Vendedores na faixa $900-$999: 0
Vendedores na faixa $1000-$1099: 0
Vendedores na faixa $1000 em diante: 0

1. Faça um programa que inicialize uma lista de compras com 5 itens diferentes e exiba todos utilizando um laço de repetição.

2. Faça um programa que inicialize que crie uma lista com os valores de 1 até 10 e depois exiba apenas os números pares.

3. Faça um programa que exiba todos os valores ímpares entre 50 e 100 utilizando o range.

In [ ]:
# 1
lista_compras = ["Arroz", "Feijão", "Macarrão", "Óleo", "Açúcar"]

print("Itens da lista de compras:")
for item in lista_compras:
    print(item)

Itens da lista de compras:
Arroz
Feijão
Macarrão
Óleo
Açúcar

In [ ]:
numeros = list(range(1, 11))

print("Números pares entre 1 e 10:")
for numero in numeros:
    if numero % 2 == 0:
        print(numero)

Números pares entre 1 e 10:
2
4
6
8
10

In [ ]:
print("Valores ímpares entre 50 e 100:")
for numero in range(51, 100, 2):
    print(numero)

Valores ímpares entre 50 e 100:
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

2- Entrar com o nome e salário de um funcionário. Sabendo-se que o índice de reajuste é de 8 %. Calcular o novo salário. Imprimir Nome, o salário e o novo salário. Pergunte se deseja fazer novos cálculos. Se a resposta for não, encerrar o programa. Se for sim começar novamente pedindo nome e fazendo novos cálculos.

3-Crie um programa que leia o preço de compra e o preço de venda de 10 mercadorias. Para cada mercadoria verificar imprimir se houve lucro e se o lucro foi maior que 15%. Acumule o valor total de mercadorias compradas.

4-Dado um número secreto adotado inteiro = 98. O usuário deverá digitar um número até acertar o número secreto. Enquanto a pessoa não acertar, o programa ficara em loop. Se a pessoa não acertou, emita uma mensagem de aviso. Quando a pessoa acertar emita uma mensagem dando parabéns ao usuário.

5-Uma transportadora utiliza caminhões que suportam até 10 toneladas de peso, as caixas transportadas tem tamanho fixo e o caminhão comporta no máximo 200 volumes, assim, esta transportadora precisa controlar a quantidade e o peso dos volumes para acomodar nos caminhões. Faça um programa que leia n caixas e seu peso, ao final, o programa deve imprimir a quantidade de volumes, o peso total dos volumes e o peso médio dos volumes.

6-Num frigorífico existem 90 bois. Cada boi traz preso em seu pescoço um cartão contendo seu número de identificação e seu peso. Faça um programa que imprima a identificação e o peso do boi mais gordo e do boi mais magro (supondo que não haja empates).

Dica:

No exemplo dos bois, o exercício pede que sejam lidos 90 bois, desta forma, é possível utilizar o for, pois sabe-se previamente que são 90, pede também que seja obtido e impresso o boi mais magro e o boi mais gordo, assim, trata-se de um caso de obter o mínimo e o máximo. Além disso, o exercício pede que seja impresso a identificação e o peso, seja ele do mais magro ou do mais gordo.

No inicio em VAR são as declarações das variáveis, note que, declarou-se a variável idBoi para ler a identificação do boi e peso Boi para ler o peso do boi, essas duas variáveis é que irão armazenar temporariamente os dados de cada um dos 90 bois. Declarou-se também as variáveis: idBoiGordo e boiGordo para registrar os dados do boi mais gordo e idBoiMagro e boiMagro para registrar os dados do boi mais magro, essas são as variáveis chave da resolução do exercício. 68 Aula 3. Estruturas de Iteração A linha 8 do código proposto inicia o laço for, entre as linhas 9 e 12 é feita a leitura dos dados do boi da iteração atual. O ponto chave para resolver o exercício está entre as linhas 14 e 21, veja que para obter o boi mais gordo foi necessário inicializar a variável na linha 6 e foi realizada a validação do peso do boi lido com o boi registrado, pesoBoi > b A variável boiGordo foi inicializada com zero, assumindo que não exista nenhum boi com peso menor ou igual a zero, então é possível concluir que qualquer peso de boi informado será superior a zero, então na primeira leitura o peso do primeiro boi lido irá substituir o valor da inicialização. Nas iterações seguintes, o peso do novo boi lido só irá substituir o peso e identificação registrados, caso esse novo peso seja maior que o atual, assim, ao fim das iterações o peso do boi mais gordo será registrado na variável boiGordo e a sua respectiva identificação na variável idBoiGordo. O mesmo procedimento é aplicado para o boi magro, foram realizadas apenas duas mudanças, uma é o sinal do operador relacional que passou de maior (>) para menor.

7- Faça um programa que leia vários números inteiros e apresente o fatorial de cada número. O algoritmo encerra quando se digita um número menor do que 1.

8- Uma pesquisa de opinião realizada no Rio de Janeiro, teve as seguintes perguntas:
• Qual o seu time de coração?
  1-Fluminense;
  2-Botafogo;
  3-Vasco;
  4-Flamengo;
  5-Outros
• Onde você mora?
  1-RJ;
  2-Niterói;
  3-Outros
• Qual o seu salário?
Faça um programa que imprima:
  • o número de torcedores por clube;
  • a média salarial dos torcedores do Botafogo;
  • o número de pessoas moradoras do Rio de Janeiro, torcedores de outros clubes;
  • o número de pessoas de Niterói torcedoras do Fluminense.

In [ ]:
# 2
while True:
    nome = input("Digite o nome do funcionário: ")
    salario = float(input("Digite o salário do funcionário: "))

    reajuste = 0.08
    novo_salario = salario * (1 + reajuste)

    print(f"Nome: {nome}")
    print(f"Salário: R${salario:.2f}")
    print(f"Novo Salário: R${novo_salario:.2f}")

    continuar = input("Deseja fazer novos cálculos? (sim/não): ").strip().lower()
    if continuar != 'sim':
        break

Digite o nome do funcionário: Maria Luiza
Digite o salário do funcionário: 2964.00
Nome: Maria Luiza
Salário: R$2964.00
Novo Salário: R$3201.12
Deseja fazer novos cálculos? (sim/não): não

In [ ]:
# 3
total_compras = 0
for i in range(10):
    preco_compra = float(input(f"Digite o preço de compra da mercadoria {i + 1}: "))
    preco_venda = float(input(f"Digite o preço de venda da mercadoria {i + 1}: "))

    lucro = preco_venda - preco_compra
    total_compras += preco_compra

    if lucro > 0:
        print(f"Mercadoria {i + 1}: Houve lucro.")
        if (lucro / preco_compra) > 0.15:
            print("O lucro foi maior que 15%.")
    else:
        print(f"Mercadoria {i + 1}: Não houve lucro.")

print(f"Valor total das mercadorias compradas: R${total_compras:.2f}")

Digite o preço de compra da mercadoria 1: 100
Digite o preço de venda da mercadoria 1: 150
Mercadoria 1: Houve lucro.
O lucro foi maior que 15%.
Digite o preço de compra da mercadoria 2: 159
Digite o preço de venda da mercadoria 2: 360
Mercadoria 2: Houve lucro.
O lucro foi maior que 15%.
Digite o preço de compra da mercadoria 3: 200
Digite o preço de venda da mercadoria 3: 250
Mercadoria 3: Houve lucro.
O lucro foi maior que 15%.
Digite o preço de compra da mercadoria 4: 125
Digite o preço de venda da mercadoria 4: 120
Mercadoria 4: Não houve lucro.
Digite o preço de compra da mercadoria 5: 859
Digite o preço de venda da mercadoria 5: 900
Mercadoria 5: Houve lucro.
Digite o preço de compra da mercadoria 6: 900
Digite o preço de venda da mercadoria 6: 875
Mercadoria 6: Não houve lucro.
Digite o preço de compra da mercadoria 7: 145
Digite o preço de venda da mercadoria 7: 500
Mercadoria 7: Houve lucro.
O lucro foi maior que 15%.
Digite o preço de compra da mercadoria 8: 458
Digite o preço de venda da mercadoria 8: 960
Mercadoria 8: Houve lucro.
O lucro foi maior que 15%.
Digite o preço de compra da mercadoria 9: 145
Digite o preço de venda da mercadoria 9: 200
Mercadoria 9: Houve lucro.
O lucro foi maior que 15%.
Digite o preço de compra da mercadoria 10: 230
Digite o preço de venda da mercadoria 10: 240
Mercadoria 10: Houve lucro.
Valor total das mercadorias compradas: R$3321.00

In [ ]:
# 4
numero_secreto = 98
while True:
    palpite = int(input("Digite um número para adivinhar o número secreto: "))

    if palpite == numero_secreto:
        print("Parabéns! Você acertou o número secreto.")
        break
    else:
        print("Número errado. Tente novamente.")

Digite um número para adivinhar o número secreto: 5
Número errado. Tente novamente.
Digite um número para adivinhar o número secreto: 100
Número errado. Tente novamente.
Digite um número para adivinhar o número secreto: 98
Parabéns! Você acertou o número secreto.

In [ ]:
# 5
n = int(input("Quantas caixas deseja registrar? "))
total_peso = 0
total_volumes = 0

for _ in range(n):
    peso = float(input("Digite o peso da caixa: "))
    total_peso += peso
    total_volumes += 1

peso_medio = total_peso / total_volumes if total_volumes > 0 else 0

print(f"Quantidade de volumes: {total_volumes}")
print(f"Peso total dos volumes: {total_peso:.2f} kg")
print(f"Peso médio dos volumes: {peso_medio:.2f} kg")

Quantas caixas deseja registrar? 2
Digite o peso da caixa: 300
Digite o peso da caixa: 650
Quantidade de volumes: 2
Peso total dos volumes: 950.00 kg
Peso médio dos volumes: 475.00 kg

In [2]:
# 6
idBoiGordo = ""
boiGordo = 0
idBoiMagro = ""
boiMagro = float('inf')

while True:
    idBoi = input("Digite a identificação do boi (ou 'sair' para encerrar): ")
    if idBoi.lower() == 'sair':
        break
    pesoBoi = float(input("Digite o peso do boi: "))
    if pesoBoi > boiGordo:
        boiGordo = pesoBoi
        idBoiGordo = idBoi


    if pesoBoi < boiMagro:
        boiMagro = pesoBoi
        idBoiMagro = idBoi

if idBoiGordo and idBoiMagro:
    print(f"O boi mais gordo é: ID = {idBoiGordo}, Peso = {boiGordo}")
    print(f"O boi mais magro é: ID = {idBoiMagro}, Peso = {boiMagro}")
else:
    print("Nenhum boi foi cadastrado.")

Digite a identificação do boi (ou 'sair' para encerrar): 123
Digite o peso do boi: 563
Digite a identificação do boi (ou 'sair' para encerrar): 456
Digite o peso do boi: 897
Digite a identificação do boi (ou 'sair' para encerrar): 159
Digite o peso do boi: 357
Digite a identificação do boi (ou 'sair' para encerrar): sair
O boi mais gordo é: ID = 456, Peso = 897.0
O boi mais magro é: ID = 159, Peso = 357.0

In [3]:
# 7
def fatorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        resultado = 1
        for i in range(2, n + 1):
            resultado *= i
        return resultado

while True:
    numero = int(input("Digite um número inteiro (menor que 1 para encerrar): "))
    if numero < 1:
        break
    print(f"O fatorial de {numero} é {fatorial(numero)}.")

Digite um número inteiro (menor que 1 para encerrar): 5
O fatorial de 5 é 120.
Digite um número inteiro (menor que 1 para encerrar): -1

In [4]:
# 8
torcedores = {
    "Fluminense": 0,
    "Botafogo": 0,
    "Vasco": 0,
    "Flamengo": 0,
    "Outros": 0
}
soma_salarios_botafogo = 0
moradores_rj_outros_clubes = 0
niteroi_fluminense = 0

while True:
    time = int(input("Qual seu time de coração? (1-Fluminense; 2-Botafogo; 3-Vasco; 4-Flamengo; 5-Outros): "))
    if time == 1:
        torcedores["Fluminense"] += 1
    elif time == 2:
        torcedores["Botafogo"] += 1
        salario = float(input("Digite seu salário: "))
        soma_salarios_botafogo += salario
    elif time == 3:
        torcedores["Vasco"] += 1
    elif time == 4:
        torcedores["Flamengo"] += 1
    elif time == 5:
        torcedores["Outros"] += 1

    moradia = int(input("Onde você mora? (1-RJ; 2-Niterói; 3-Outros): "))
    if moradia == 1 and time != 2:  # Moradores do RJ, torcedores de outros clubes
        moradores_rj_outros_clubes += 1
    elif moradia == 2 and time == 1:  # Niterói e torcedores do Fluminense
        niteroi_fluminense += 1

    continuar = input("Deseja continuar? (sim/não): ").strip().lower()
    if continuar != 'sim':
        break

# Resultados
print("Número de torcedores por clube:")
for time, contagem in torcedores.items():
    print(f"{time}: {contagem}")

media_salarios_botafogo = soma_salarios_botafogo / torcedores["Botafogo"] if torcedores["Botafogo"] > 0 else 0
print(f"Média salarial dos torcedores do Botafogo: R${media_salarios_botafogo:.2f}")
print(f"Número de moradores do RJ torcedores de outros clubes: {moradores_rj_outros_clubes}")
print(f"Número de pessoas de Niterói torcedoras do Fluminense: {niteroi_fluminense}")

Qual seu time de coração? (1-Fluminense; 2-Botafogo; 3-Vasco; 4-Flamengo; 5-Outros): 3
Onde você mora? (1-RJ; 2-Niterói; 3-Outros): 3
Deseja continuar? (sim/não): sim
Qual seu time de coração? (1-Fluminense; 2-Botafogo; 3-Vasco; 4-Flamengo; 5-Outros): 2
Digite seu salário: 1500
Onde você mora? (1-RJ; 2-Niterói; 3-Outros): 1
Deseja continuar? (sim/não): não
Número de torcedores por clube:
Fluminense: 0
Botafogo: 1
Vasco: 1
Flamengo: 0
Outros: 0
Média salarial dos torcedores do Botafogo: R$1500.00
Número de moradores do RJ torcedores de outros clubes: 0
Número de pessoas de Niterói torcedoras do Fluminense: 0

## Laços de repetição, break e continue

Os laços de repetição, ou loops, são usados para executar um bloco de código várias vezes, com base em uma condição. Python possui duas estruturas principais de repetição: `for` e `while`.


FOR   
Percorre uma sequência (como uma lista, tupla, string ou um intervalo).
```
# Sintaxe
for elemento in sequencia:
    # bloco de código

# Exemplo
for i in range(5):
    print(i)  # Imprime 0, 1, 2, 3, 4

```
WHILE  
Executa um bloco de código enquanto uma condição for verdadeira.



```
# Sintaxe
while condicao:
    # bloco de código

# Exemplo
contador = 0
while contador < 5:
    print(contador)  # Imprime 0, 1, 2, 3, 4
    contador += 1
```


BREAK  
* Encerra o laço atual e sai dele imediatamente, independentemente da condição de repetição.
* Aplicação: Útil quando precisamos interromper a execução de um loop antes que ele termine naturalmente.

```
# Exemplo
for i in range(10):
    if i == 5:
        break  # Interrompe o loop quando i é 5
    print(i)  # Imprime 0, 1, 2, 3, 4
```

CONTINUE
* Faz com que o loop pule a iteração atual e continue com a próxima iteração.
* Aplicação: Útil quando desejamos ignorar partes do loop sob certas condições, mas ainda assim deseja que o loop continue.

```
# Exemplo
for i in range(5):
    if i == 2:
        continue  # Ignora a iteração quando i é 2
    print(i)  # Imprime 0, 1, 3, 4
```